.CartPage {
  display: block;
}

.productsWrapper {
  @include flex(null, null, column, 30px);
}

.emptyButton {
  align-self: flex-end;
  padding: 0;
  border: none;

  color: $green;
  text-decoration: none;

  background: none;
  cursor: pointer;

  @include montserrat(20px, 400, 30px);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}