.wrapper {
  display: block;
}

.productsWrapper {
  @include flex(null, null, column);
  flex: 1 1;
}

.main {
  @include flex(null, null, row, 30px);
  position: relative;

  flex-wrap: wrap;
  min-height: 400px; // пока не отрисован invoice

  .plantImageTop {
    position: absolute;
    top: 0;
    left: 0;

    max-width: 350px;
  }

  .plantImageBottom {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


.clearButton {
  align-self: flex-end;
  padding: 0;
  border: none;

  color: $green;
  text-decoration: none;

  background: none;
  cursor: pointer;

  @include montserrat(15px, 400, 30px);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.invoiceWrapper {
  width: 370px;
}