.wrapper {
  display: block;
}

.productsWrapper {
  @include flex(null, null, column, 30px);
  flex: 1 1;
}

.main {
  @include flex(null, null, row, 30px);
  flex-wrap: wrap;
}

.clearButton {
  align-self: flex-end;
  padding: 0;
  border: none;

  color: $green;
  text-decoration: none;

  background: none;
  cursor: pointer;

  @include montserrat(20px, 400, 30px);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.invoiceWrapper {
  width: 380px;
}