.MainPage {
  background-color: $black;
}

.headerImage {
  width: 100%;
  height: 20px;
  object-fit: cover;

  filter: brightness(60%) hue-rotate(35deg);
}

.mainBlock {
  position: relative;
  z-index: 2;

  padding: clamp(130px, 13vw, 198px) clamp(15px, 4vw, 90px);

  .title {
    @include montserrat(80px, 700, 84px);
  }

  .subtitle {
    @include montserrat(clamp(80px, 15vw, 140px), 700, clamp(130px, 15vw, 180px));
    margin-bottom: 50px;

    color: $green;
  }

  .button {
    @include montserrat(28px, 500, 32px);
  }

  .mainLeaf {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;

    transform: translateY(-50%);
    mask-image: linear-gradient(to bottom, $black 40%, transparent);
    filter: brightness(80%);
  }
}

.infoBlock {
  position: relative;
  top: clamp(-80px, -5vw, 0px);
  z-index: 2;

  display: flex;
  justify-content: center;
  padding: clamp(50px, 30vw, 300px) 30px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 185px;

    background: linear-gradient(to top, $black, transparent);

    content: '';
  }

  .infoBackground {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: brightness(60%);
    mask-image: url('../../shared/assets/images/mask.svg');
    mask-size: 100%;
    mask-repeat: no-repeat;
  }
}

.addInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.question {
  @include montserrat(clamp(40px, 5vw, 80px), 700, 84px);
  color: $green;
  text-align: center;
}

.socialMedia {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(rgba($black, 1),
        rgba($black, 0),
        rgba($black, 1));

    content: "";
  }

  .videoBackground {
    object-fit: cover;
  }

  p {
    position: absolute;
    top: 30%;

    text-align: center;

    @include montserrat(23px, 500, 24px);
  }

  .iconWrapper {
    position: absolute;
    top: 50%;

    display: flex;
    gap: clamp(30px, 8vw, 120px)
  }
}

.benefitsSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;

  .ecological-benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;

    .oneBenefit {
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      width: 205px;

      text-align: center;

      p {
        @include montserrat(clamp 16px, 500, 20px);
      }
    }
  }
}

.featuredProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  text-align: center;

  background: linear-gradient(rgba($black, 1),
      rgba($black, 0),
      rgba($black, 1)),
    url('../../shared/assets/images/products_back.webp');
  background-position: center;
  background-size: cover;

  .buttonMore {
    align-self: center;
    margin-bottom: 40px;
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .productsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

@media screen and (width <=440px) {
  .infoBlock {
    .infoBackground {
      mask-size: unset;
    }
  }
}