.AllProductsBlock {
  padding: 60px 30px 80px;
}

.image {
  height: 360px;
  margin-bottom: 20px;
  border-radius: 20px
}

.name {
  margin-bottom: 20px;
}

.products {
  position: relative;

  display: grid;
  grid-auto-rows: auto;
  grid-template-columns:  repeat(auto-fill, 360px);
  gap: clamp(30px, 10vw, 100px); 
  justify-content: center;

  @include montserrat(24px, 400, 28px); 
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.price {
  font-weight: 700;
}

.price_wrapper {
  flex: 1 1 auto;

  @include flex(space-between, center, row);
  width: 100%;
  margin-bottom: 30px;
}

.reviews {
  @include montserrat(20px, 400, 24px);
  text-decoration: underline;
}

.input {
  margin-bottom: 20px;
  padding: 10px 10px 10px 40px;
  border: 3px solid $gray;
  border-radius: 12px;

  transition: 0.3s ease;
  
  &:focus {
    padding: 10px 10px 10px 40px;
  }

  &:hover {
    box-shadow: rgb(255 255 255 / 35%) 0 5px 15px;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-90%);
}

.no_products {
  grid-column: 2;

  text-align: center;

  @include montserrat(28px, 400, 28px);
}