.AllProductsBlock {
  padding: 60px 30px 80px;
}

.image {
  margin-bottom: 20px;
  border-radius: 20px;
}

.name {
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns:  repeat(auto-fill, 360px);
  gap: clamp(30px, 10vw, 100px); 
  justify-content: center;

  @include montserrat(24px, 400, 28px); 
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.price {
  font-weight: 700;
}

.price_wrapper {
  flex: 1 1 auto;

  @include flex(space-between, center, row);
  width: 100%;
  margin-bottom: 30px;
}

.reviews {
  @include montserrat(20px, 400, 24px);
  text-decoration: underline;
}