.ProductCard {
  @include montserrat(16px, 400, 20px);
  max-width: 220px;
  border: none;

  text-align: start;

  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.card {
  margin-bottom: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
}

.wrap {
  display: flex;
  gap: 12px;
}

.sale {
  color: $red;
}

.salePrice {
  color: $gray;
  text-decoration: line-through;
}

.stars_wrap {
  display: flex;
  gap: 3px;
}

.reviews {
  color: $gray;
}