.ProductCard {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 1px solid $green;

  .productImage {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    object-fit: cover;
  }

  .productDetails {
    display: flex;
    flex-direction: column;

    .productName {
      margin-bottom: 0.5rem;

      color: $green;

      @include montserrat(20px, 400, 25px);
    }

    .productQuantity {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      .quantityButton {
        border-bottom: 1px solid white;
        border-radius: 50%;

        background-color: transparent;
        cursor: pointer;
      }

      .quantityInput {
        width: 3rem;
        border: none;

        @include montserrat(15px, 400, 20px);
        text-align: center;
      }
    }

    .productPrice {
      @include montserrat(15px, 400, 20px);
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      .originalPrice {
        margin-right: 0.5rem;

        color: $gray;
        text-decoration: line-through;
      }

      .discountPrice {
        color: $red;
        font-weight: bold;
      }

      .price {
        font-weight: bold;
      }
    }

    .removeButton {
      width: 16px;
      padding: 0;
      border: none;

      background: none;
      cursor: pointer;
    }
  }
}