.AppLink{
  @include montserrat(20px, 500, 24px);
  color: $green;
  text-decoration: none;

  transition: 0.2s ease;

  &:hover {
    color: white;

    cursor: pointer;

    opacity: 0.7;
  }
}

.active{
  color:white;

  &:hover {
    cursor: default;
    opacity: 1;
  }
};