@import '@/app/styles/mixins/mixins';
@import '@/app/styles/variables/global';


.AppLink{
  @include montserrat(20px, 500, 24px);
  color: $green;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  .active{
    color:white;

    cursor: default;
  };
}