.CategoriesBlock {
  position: relative;

  padding: 60px 30px 80px;
}
  
.wrapper {
  @include flex(space-around, center, row, 30px);
  flex-wrap: wrap;
}

.leftLeaf {
  position: absolute;
  left: 0;
}

.rightLeaf {
  position: absolute;
  right: 0;
  bottom: -10px;

  transform: rotate(180deg);
}

.card {
  width: 220px;
  height: 212px;

  @include montserrat(26px, 500, 30px); 
}

.card img {
  width: 100px;
}

.link {
  &:hover {
    opacity: 1;
  }
}